/* IMPOSTAZIONI GENERALI */

body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}

* {
  box-sizing: border-box;
}

hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */

.headermove{
  height: 100%;
  position: relative;
}

header {
  background: rgb(0, 160, 198);
  background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
  position: fixed;
  top: 15px;

  right: 15px;
  left: 15px;
  z-index: 2;
}

@media screen and (min-width: 800px) {
  header {
    padding: 1em;
    
  }
}

@media screen and (max-width: 1199px) {
  header .brand img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    text-align: left;
    position: fixed;
    top: 15px;
    right: 15px;
    left: 15px;
    z-index: 2;
  }
  header .brand,
  header nav,
  header .brand p {
    display: inline-block;
  }

  header .brand {
    width: 75%;
  }
  header .brand img {
    vertical-align: middle;
  }
  header .brand p {
    margin-bottom: 0;
  }
}

header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
header nav li:last-child {
  margin-right: 0;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
  margin-top: 236px;
}
@media screen and (min-width: 700px) {
  main {
    padding: 2em;
    margin-top: 236px;
  }


}

@media screen and (min-width: 1200px) {
  main {
    padding: 2em;
    margin-top: 116px;
  }


}

section {
  background-color: #e3e3e3;
  padding: 2em 1em;
  margin-bottom: 2em;
  position: relative;
  top: 30px;
  height: 220px
}

section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 1.7rem;
  font-weight: bold;
  background-color: #a3a3a3;
  padding: 0px 1em;
  position: absolute;
  top: -30px;
  text-transform: uppercase;
  box-shadow: 2px 2px 0px 0px rgb(61, 61, 61);
}

section > p {
  margin-top: 20px;
  font-size: 1rem;
}



/* ELEMENTI NEL MAIN - ARTICLE */

h1 {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}

b {
  display: inline-block;
  position: relative;
  z-index: 1;
}

b::after{
  background-image: url(/assets/img/fancy-line-png-transparent-for-free-download-pngfind.png);
  content:'';
  position: absolute;
  bottom: -0.825rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}

h1 + p {
  color: #a0a0a0;
}

@media screen and (max-width: 499px) {
  p,
  ul,
  ol {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  p,
  ul,
  ol {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 3.6rem;
  }

  section > p {
    font-size: 1.2rem;
  }


}

@media screen and (min-width: 1200px) {
  body {
    line-height: 2;
  }
  section {
    border-radius: 20px;
  }
}

.imgLeft {
  margin-right: 20px;
  border: 4px solid #00a0c6;
  outline: 4px solid #a02571;
  padding: 3px;
  display: block;
  float: left
}



ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

@media screen and (min-width: 1200px) {
  iframe,
  section {
    display: inline-block;
    width: 50%;
    margin-inline: -2px;
    vertical-align: middle;
  }

  iframe {
    height: 267px;
  }
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
@media screen and (min-width: 500px) {
  table {
    margin: 0 auto 2em;
  }
}
@media screen and (min-width: 700px) {
  table {
    width: 70%;
    margin-block-start: 5rem;
    margin-block-end: 6rem;
  }
}

caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 500px) {
  input {
    display: inline-block;
    width: 70%;
  }
}
@media screen and (min-width: 700px) {
  input {
    padding: 15px;
  }
  button {
    padding: 15px 30px;
  }
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
}

@media screen and (min-width: 1200px) {
  aside div {
    display: inline-block;
    width: 33.333%;
    margin-inline: -2px;
  }
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

aside div p .fa-tag{
  position: absolute;
  bottom: 50px;
  right: 10px;
  font-size: 4rem;
  color:#cacaca;
}

/* FOOTER */

.menuicone {
  position: relative;
  width: 100%;
}

.icona1{

  border: 2px solid rgb(255, 255, 255);
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  color:rgb(0, 56, 198);
  position: absolute;
  top: -150px;
  right: -15px;
  font-size: 2rem;
  
}

.icona2{
  border: 2px solid rgb(255, 255, 255);
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color:rgb(0, 56, 198);

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -75px;
  right: -15px;
  font-size: 2rem;
}

.icona3{
  border: 2px solid rgb(255, 255, 255);
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  color:rgb(251, 95, 43);
  position: absolute;
  top: 0;
  right: -15px;
  font-size: 2rem;
}

.icona1 a, .icona2 a{
  color:rgb(0, 56, 198);
}

.icona3 a{
  color:rgb(251, 95, 43);
}

footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(0deg, rgba(53, 53, 53, 1) 0%, rgba(5, 85, 103, 1) 68%);
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  footer {
    padding: 1em 12em;
  }
  .menuicone {
    position: relative;
    width: 100%;
  }

  .icona1{
    border: 2px solid rgb(255, 255, 255);
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    color:rgb(0, 56, 198);
    position: fixed;
    top: 10px;
    right: 0;
    font-size: 2rem;
    z-index: 3;
    
  }
  
  .icona2{
    border: 2px solid rgb(255, 255, 255);
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:rgb(0, 56, 198);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    backdrop-filter: blur(2%);
    position: fixed;
    top: 90px;
    right: 0;
    font-size: 2rem;
    z-index: 3;
  }
  
  .icona3{
    border: 2px solid rgb(255, 255, 255);
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    color:rgb(251, 95, 43);
    position: fixed;
    top: 90vh;
    right: 0;
    z-index: 2;
    font-size: 2rem;
  }
  
  .icona1 a, .icona2 a{
    color:rgb(0, 56, 198);
  }
  
  .icona3 a{
    color:rgb(251, 95, 43);
  }


}

footer a {
  color: fuchsia;
}

@media screen and (min-width: 1200px) {
  header,
  main,
  footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .menuicone {
    position: relative;
    width: 100%;
  }

  .icona1{

    border: 2px solid rgba(255, 255, 255, 0.629);
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    color:rgb(0, 56, 198);
    position: fixed;
    top: 10px;
    right: 0;
    font-size: 2rem;
  }
  
  .icona2{
    border: 2px solid rgb(255, 255, 255);
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:rgb(0, 56, 198);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 90px;
    right: 0;
    font-size: 2rem;
  }
  
  .icona3{
    border: 2px solid rgba(255, 255, 255, 0.088);
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    color:rgb(251, 95, 43);
    position: fixed;
    top: 90vh;
    right: 0;
    font-size: 2rem;
  }
  
  .icona1 a, .icona2 a{
    color:rgb(0, 56, 198);
  }
  
  .icona3 a{
    color:rgb(251, 95, 43);
  }
}

@media print {
  body {
    font-size: 24px;
    padding: 0;
    background-image: none;
  }
  main {
    box-shadow: none;
    margin: 0;
  }
  thead tr {
    background-color: #d3d3d3;
    color: black;
  }
  thead tr,
  tbody tr {
    border-bottom: 1px solid #666;
  }

  header,
  article section,
  iframe,
  aside,
  footer,
  .social,
  .toTop {
    display: none;
  }
}
