body{
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Spectral', serif;*/
}

*, *::before, *::after{
    box-sizing: border-box;
}

a{
    appearance: none;
    text-decoration: none;
}

footer ul li a{
    appearance: none;
    text-decoration: none;
    color: rgb(212, 212, 212);
}

aside footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    
}

footer ul li{
    padding-right: 15px;
    padding: 8px;
}

.container{
    height: 100%;
    position: relative;
}

header{
    display: flex;
    
}

nav{
    display: flex;
    background-color: rgb(255, 192, 23);
    min-width: 100%;
    padding: 15px;
    flex-direction: row;
    align-content: center;
    border-bottom: 1px solid rgb(54, 54, 54);
    position: fixed;
    z-index: 1;
}

nav img{
    margin-left: 100px;
    margin-right: auto;
    width: 100px;
}

nav ul li{
    display: inline-block;
    
    padding-right: 10px;
    font-size: 0.8rem;
    
    
}

nav ul li a{
    color: rgba(32, 32, 32, 1);
}

nav ul li button{
    appearance: none;
    border: none;
    background-color: rgb(33, 33, 33);
    color: rgb(237, 237, 237);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.8rem;
}

.home{
    display: flex;
    background-color: #ffc017;
    padding-left: 80px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(54, 54, 54);
    position:relative;
    top:55px
}

h1{
    font-family: 'Spectral', serif;
    font-size: 4rem;
    margin-top: 150px;
    margin-bottom: 20px;
}

.home .leftHome p{
    margin-bottom: 40px;
    
}

.home .leftHome button{
    appearance: none;
    border: none;
    background-color: rgb(33, 33, 33);
    color: rgb(237, 237, 237);
    border-radius: 15px;
    padding: 5px 30px;
    font-size: 0.8rem;
}

.home svg{
    max-width: 585px; 
    min-height: 462px;
}

@media screen and (max-width:767px) {
    .home svg{
        display: none;
    }
}
/*
.home .rightHome{
    
}
*/

main{
    border-bottom: 1px solid rgb(179, 179, 179);
}

b{
    font-weight: 700;
}

.titlePosts{
    
    margin: 20px;
    display: flex;
    padding-left: 50px;
    font-size: 0.7rem;
    letter-spacing: 1.15;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
}

.titlePosts svg{
    align-items: baseline;
}

.titlePosts h4{
    margin-left: 10px;
    display: inline-block;
    padding-top: 10px;
}

.trend{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(43, 43, 43);
    margin-left: 20px;
}

.date{
    display: flex;
    justify-content:space-around;
    
}

.date{
    padding-left: 22px;
    color: rgb(179, 179, 179);
}

.date svg{
   
}

.post1, .post2{
    width: 350px;
    padding-bottom: 40px;
    cursor: pointer;
}

.post3{
    max-width: 350px;
    padding-bottom: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.post4{
    max-width: 350px;
    padding-right: 10px;
    padding-bottom: 50px;
    cursor: pointer;
}

.post5{
    max-width: 350px;
    padding-bottom: 50px;
    cursor: pointer;
}   

.post6{
    max-width: 350px;
    padding-right: 50px;
    padding-bottom: 50px;
    cursor: pointer;
}



.riga1{
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.riga1 img{
    width: 20px;
    border-radius: 5px;
}

.riga2 h4{
    padding-left: 52px;
    padding-bottom: 5px;
}

.riga1 > span:nth-child(1){
    color: rgb(179, 179, 179);
    font-family: 'Spectral', serif;
    font-weight: 700;
    font-size: 2rem;
    padding-right: 15px;

}

.riga1 span:nth-of-type(2){
    font-size: 0.7rem;
    padding-left: 5px;

}

/* -------------------------------- */



article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

article .templateOrder{
    color: rgb(39, 39, 39);
}

.template1{
    margin-top: 50px;
    padding-left: 70px;
    flex-direction: column;
}

.leftTumb{
    display: flex;
    flex-direction: row;
    max-width: 630px;
    margin: 0 0;
    align-items: center;
    padding-bottom: 30px;
    cursor: pointer;
}

.rightTumb{
    display: flex;
    
}

.rightTumb img{
    padding-left: 15px;
    max-width: 250px;
    max-height: 138px;
}

.contentTumb{
    display: flex;
    flex-direction: column;
}

.contentTumb h4{
    font-size: 1.2rem;
    
}

.contentTumb button{
    appearance: none;
    border: none;
    border-radius: 15px;
    padding: 5px 10px
}

.contentTumb button:hover{
    transition: 0.8s;
    background-color: rgb(212, 212, 212);
}

.contentTumb p:nth-of-type(2){
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contentTumb svg.ma{
    display: flex;
}

.contentTumb .book{
    display: flex;
}

.contentTumb p:nth-of-type(1){
    padding: 20px;
    padding-left: 0;
}

.riga4{
    max-width: 400px;
}

.riga5 img{
    border-radius: 50px;

}

.riga6{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.riga6 span{
    padding-left: 10px;
}

.containerAside{
    margin-top: 50px;
}

.containerAside h3{
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.containerAside div button{
    appearance: none;
    border: 1px solid rgb(230, 231, 231);
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 5px;
    color: rgb(32, 32, 32);
    margin-right: 10px;
    margin-bottom: 10px;
}

