#menu {margin: 2em;}

html{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-45deg, rgb(81, 80, 80), rgb(75, 0, 112), rgba(110, 24, 167, 1), rgb(135, 66, 255));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color:rgb(254, 171, 243)
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.background1{
    background: linear-gradient(90deg, rgba(164, 164, 164, 1) 0%, rgba(200, 125, 237, 1) 21%, rgba(110, 24, 167, 1) 67%, rgba(160, 115, 240, 1) 100%);
    margin: 0;
    padding: 0;
}