body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    background-color: rgb(72, 72, 72);
}

*{
    box-sizing: border-box;
}

.container{
    max-width: 450px;
    margin-inline: auto;
    height: 100vh;
}

header {
    min-width: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

nav {
    background-color: rgb(254, 247, 226);
    border-radius: 100px;
    width: 450px;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: column wrap;
    align-content: center;
}

nav button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex: 1 1 auto;
    row-gap: 10px;
    column-gap: 10px;
    width: 120px;
    height: 40px;
    appearance: none;
    border: none;
    background-color: rgb(255, 223, 127);
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 10px 
}

nav .button3 img{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    
}

.button3{
    align-content: space-around;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    order: -1;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    flex-shrink: 2;
}

.button1, .button2, .button4, .button5{
    flex-direction: unset;
    flex-direction: row;
}

h1{
    color: rgb(112, 28, 18);
    font-weight: bold;
    text-align: center;
    margin-block: 30px;
    font-size: 2rem;
}
article{
    display: block;
}

article div{
    flex-direction: unset;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    background-color: rgb(254, 247, 226);
    margin-bottom: 100px;
    border-radius: 30px;
    width: 300px;
}

article div img{
    width: 300px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

}

article div h4{
    color: rgb(112, 28, 18);
    font-weight: bold;
    margin-block: 30px;
    font-size: 1rem;
}

article div p{
    color: rgb(112, 28, 18);
    margin: 0;
    margin-block: 30px;
    font-size: 1rem;
    
}

article div button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
    row-gap: 10px;
    column-gap: 10px;
    width: 120px;
    height: 40px;
    appearance: none;
    border: none;
    background-color: rgb(255, 223, 127);
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 10px 
}

aside div{
    flex-direction: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-radius: 20px;
    
    background-color: rgb(254, 247, 226);
    margin-bottom: 100px;
    padding-inline: 30px;
    width: 450px;
}

aside h2{
    color: rgb(112, 28, 18);
    font-weight: bold;
    text-align: center;
    margin-block: 30px;
    font-size: 2rem;
}

aside h4{
    display: flex;
    color: rgb(112, 28, 18);
    font-weight: bold;
    margin-block: 30px;
    font-size: 2rem;
    justify-content: flex-start;
}

aside p{
    color: rgb(112, 28, 18);
    margin: 0;
    margin-block: 30px;
    font-size: 1rem;
    line-height: 1.5;
}

aside div img{
    width: 350px;
    margin-bottom: 20px;

}