@import "./bootstrap-overrides";

$primary: #7550fe;

.showcase{

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        background-color: #7550fe;
        height: 400px;
        img {
            background-position: center;
            max-width: 100%;
        }
  /*       h1 {

        }*/
        p {
          line-height: 1.6;
          letter-spacing: 1px;
          padding-inline-end: 3rem;
        }
 /*       button:first-of-type {
            
        }
        button:nth-of-type(2) {

        }*/
      }
}
