body{
    margin: 0 auto;
}

*, *::after, *::before{
    box-sizing: border-box;
}

.background{
    background-image: url("Assets/background.jpg");
    background-position: top;
    background-repeat: repeat-y;
    object-fit: cover;
}

.background2{
    background-image: url("Assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 350%;
    min-height: min-content;
}


p {
    font-size: 2em;
    margin: 0em;
    padding: 1em;
}

address {
    font-size: 3em;
    margin: 0em;
    padding: 1em; 
}
h1 {
    font-size: 4em;
    margin: 0.2em
}

#instagram {
    margin: 0 2em
}

th {
    font-size: 3em;
    color: rgb(209, 0, 0);
    text-shadow: 5px 5px 24px rgb(91, 90, 90);
}

li {
    font-size: 2em; 
    color: aliceblue;
}

h4 {
    color: aliceblue;
    font-size: 2em;
}

.colorType1 {
    color: rgb(222, 40, 64);
    text-align: center;
    text-shadow: 5px 5px 24px rgb(91, 90, 90);
}

.colorType2 {
    color: rgb(235, 232, 232);
    text-align: center;
    

}

.colorType3 {
    color: rgb(239, 137, 41);
    text-align: center;
    text-decoration: none;
}

.alignCenter {
    text-align: center;
}

.imgStyle {
    width: 450px;
    padding: 4em;
}

.triangleDown {
    width: 0;
    height: 50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(9, 38, 72);

}

.unStyleList{
    list-style: none;
    margin-left: 0;
    padding-left: 50px;
    align-items: center;
}

.paddingSubTitle{
    padding-top: 100px;
}