

.container{
    margin: 0 auto;
    width: 500px;
    background-color: rgb(38, 46, 104);
}

header{
    padding: 10px 10px 10px 10px;
    background-color: rgb(173, 244, 244);
}
header h1{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

input {
    box-sizing: border-box;
}
header input[type=text]{
    width: 74%;   
    padding: 10px; 
}
header input[type=button]{
    width: 25%;
    background-color: yellow;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
    
}
input[type=checkbox] + label{
    
} 
input[type=checkbox]:checked + label {
    text-decoration: line-through;
}
input[type=button] {

} 
.task{
    padding: 10px 15px;
    font-size: 1.1rem;
    background: #eee
    
}
.completed {
    text-decoration: line-through;
    background: #888;
}

.task:hover{
    background: #ddd;
}

.task:nth-child(odd) {
    background: #f9f9f9;
  }

