/* IMPOSTAZIONI GENERALI */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
}

header ul li {
    list-style-type: none;
}

.menù-1 a {
    text-decoration: none;
    color: white;
    line-height: 25px;
}

.menù-1 a::before  {
    content: '⟹';
}

.menù-1 a::after {
    content: '⟸';
}


/* HEADER */
#header-1 {
    margin: 0 auto;
    margin: 20px;
    padding: 30px;
    text-align: center;
    background-color: rgb(19, 68, 85);
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.img {
    width: 60%;
    height: auto;
}

.titolo-1 {
    margin: 20px 0;
}
/* MAIN */
main {
    margin: 0 auto;
    margin: 20px;
    padding: 20px;
    background-color: white;
    text-align: left;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 50px;
    margin: 25px auto;
}

article {
    line-height: 1.5;
    font-size: 18px;
}

code {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightgrey;
}

i {
    color: lightgrey
}

.p1art, .p2art, .p3art, .p4art, .p5art {
    margin-bottom: 20px;
}

li {
    margin-left: 40px;
}

.lista1 {
    margin-bottom: 15px;
}

.lastchildli {
    margin-bottom: 15px;
}


p strong {
    color: rgb(226, 43, 183);
    font-weight: bold;
}


/* TABELLE */

table {
    font-size: 18px;
}


caption {
    font-weight: bold;
    font-style: italic;
}

th, td {
    border: 2px solid lightgray;
    border-bottom: 2px solid rgb(120, 120, 247);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

th {
    text-align: center;
    color:white;
    padding: 10px auto;
    width: 100px;
    
    
    background-color: rgb(120, 120, 247);
}

.gray {
    background-color: rgb(187, 186, 186);
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

footer {
    background-color: rgb(19, 68, 85);
    text-align: center;
    margin: 0 auto;
    margin: 20px;
    padding: 15px 5px 10px 5px;
    color: white;
    line-height: 1.5;
    font-size: 1.2rem;
    
}

footer p {
    padding-bottom: 20px;
}

footer address {
    padding-bottom: 15px;
}

footer a {
    color: rgb(245, 31, 213);
}