ul {
  padding: 0;
}

/* 
@mixin floating($border-r,$box-S,$border){
    border-radius: $border-r
    box-shadow: $box-S

    @if($border == )



}



*/
.container header div div div button:nth-child(1), .container .navbar nav div ul li:nth-child(1) {
  border: 2px solid #004bc1;
  border-radius: 20px;
  box-shadow: 1px 5px 5px #002d74;
  background-color: rgb(14, 108, 255);
  margin-right: 10px;
}

.container header div div div button:nth-child(2), .container .navbar nav div ul li:nth-child(2) {
  border: 2px solid #b35f00;
  border-radius: 20px;
  box-shadow: 1px 5px 5px #663600;
  background-color: #ff8700;
  margin-right: 10px;
}

.container header div div div button:nth-child(3), .container .navbar nav div ul li:nth-child(3) {
  border: 2px solid #357a38;
  border-radius: 20px;
  box-shadow: 1px 5px 5px #1e441f;
  background-color: #4caf50;
  margin-right: 10px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Tilt Neon", cursive;
  background-color: antiquewhite;
}

body {
  margin: 0;
  font-family: "Tilt Neon", cursive;
}

.container .navbar nav {
  background-color: rgb(197, 108, 182);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .navbar nav > div img {
  padding-left: 10px;
  margin-top: 10px;
  max-width: 70px;
  max-height: 70px;
}
.container .navbar nav div ul li {
  list-style: none;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}
.container .navbar nav div ul li a {
  font-size: 30px;
  text-decoration: none;
  color: rgb(244, 244, 244);
}
.container header {
  margin: 20px 30px;
  background-color: #361531;
  border-radius: 10px;
  color: rgb(244, 244, 244);
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.container header div {
  margin: 10px 30px;
  display: flex;
}
.container header div div {
  text-align: center;
  margin-top: 10px;
  align-items: center;
}
.container header div div div h1 {
  text-shadow: 1px 3px 3px #a8a8a8;
}
.container header div div div h1 > img {
  margin-top: 10px;
}
.container header div div div {
  margin: 20px 20px;
}
.container header div div div button {
  padding: 10px 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: rgb(244, 244, 244);
}
.container header div div {
  margin: auto;
}
.container header div div img {
  padding-left: 10px;
  margin-top: 10px;
  max-width: 300px;
  max-height: 300px;
  border: 2px solid #cecece;
  border-radius: 20px;
  box-shadow: 1px 5px 5px #a8a8a8;
  margin: 0;
  padding: 0;
}
.container .le4Img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.container .le4Img .grid-item-1 {
  flex-basis: 33.3333333333%;
}
.container .le4Img .grid-item-2 {
  flex-basis: 50%;
}
.container .le4Img .grid-item-3 {
  flex-basis: 100%;
}
.container .le4Img div img {
  border: 2px solid #cecece;
  border-radius: 20px;
  box-shadow: 1px 5px 5px #a8a8a8;
  max-width: 700px;
  max-height: 300px;
}/*# sourceMappingURL=style.css.map */